<div id="calculette">

  <div class="enteteCalculette">
    <div id="marqueModele">
      Calculadora de ejemplo
    </div>
    <div class="ecran">
      {{numeros}}
    </div>
    <span class="reset" (click)="reset()">C</span>
  </div>

  <div class="touchesCalculette">

    <span (click)="addNumer('7')">7</span>
    <span (click)="addNumer('8')">8</span>
    <span (click)="addNumer('9')">9</span>

    <span class="operateurs" (click)="addOperator('-')">-</span>

    <span (click)="addNumer('4')">4</span>
    <span (click)="addNumer('5')">5</span>
    <span (click)="addNumer('6')">6</span>

    <span class="operateurs" (click)="addOperator('+')">+</span>

    <span (click)="addNumer('1')">1</span>
    <span (click)="addNumer('2')">2</span>
    <span (click)="addNumer('3')">3</span>

    <span class="operateurs" (click)="addOperator('/')">/</span>

    <span id="base" (click)="addNumer('0')">0</span>

    <span class="egal touchesBas">=</span>
    <span class="operateurs touchesBas" (click)="addOperator('*')">x</span>
  </div>
</div>